<div class="video-container" fxLayoutAlign= "center center" >
  <video class="myvideo" [fxShow]= "showmyvideo" [ngStyle]="{'height': '80vh', 'position': 'fixed' }"   [ngStyle.xs]="{'height': '100vh','width': '120vw', 'position': 'fixed' }" #video autoplay>  </video>
  <video class="myrecvideo" [fxShow]= "!showmyvideo"  [ngStyle]="{'height': '80vh', 'position': 'fixed' }"   [ngStyle.xs]="{'height': '100vh','width': '120vw', 'position': 'fixed' }" #recvideo  autoplay loop  > </video>
   <!--//pick up from auth-->
  <video src="{{ (item| async)?.itemlocation }}" autoplay></video>  
 <!--// load from collection
    <ul>
      <li *ngFor = "let myvideo of myvideos | async">
        <video src="{{ myvideo.itemlocation}}" autoplay></video>
      </li>
    </ul>-->

</div>
<div class="top-layer" fxLayout="column nowrap">
  <mat-toolbar fxLayout="row">
    
    <div *ngIf="afAuth.user | async as user; else showLogin">
      <h1>{{ user.displayName }}!</h1>
      <button (click)="start()">Start</button>
      <button (click)="logout()">Logout</button>
      
      {{ps.downloadURL | async }}
      <mat-progress-bar mode="determinate" value="{{ps.uploadPercent | async }}" style="width: 50vw;"></mat-progress-bar>

    </div>
    <ng-template #showLogin>
      <p>Please login.</p>
      <button (click)="login()">Login with Google</button>
    </ng-template>
  </mat-toolbar>
  <div class="growing" fxFlex = "grow"></div>

  <div fxLayoutAlign="center center">
    <div  #done [fxShow] = "this.Screentype === 'Handset_Port' || this.Screentype === 'Web_Land'" >
      <button mat-fab color="primary" style="width: 60px; height:60px;">
        {{ state === 'recording' ? seconds : 'REC' }}
      </button>
    </div>
    <!--
    <div [fxHide] = "this.Screentype === 'Handset_Port' || this.Screentype === 'Handset_Land'" >
      <button
        holdable
        (holdTime)="onHold($event)"
        (start)="onStart()"
        (stop)="onStop()"
      >{{ state === 'recording' ? seconds : 'REC' }}</button>
    </div>
    -->

  </div>

</div>



